* {
  box-sizing: border-box;
  font-family: "Source Sans Pro";
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

main {
  width: 1440px;
  overflow: hidden;
  margin: auto;
}

/*  Style of the navigation part */

.navigation {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  margin-bottom: 85px;
}

.logo-style2,
.logo-style {
  font-size: 18px;
  font-weight: bold;
}

.logo-style2 {
  color: #540cfa;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
}

.navigation-item {
  font-size: 14px;
  margin-right: 55px;
}

.navigation-item:hover,
.log-in:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in;
}

.navigation-item:last-child {
  margin-right: auto;
}

.navigation div {
  font-size: 14px;
  font-weight: bold;
}

.button {
  background-color: #540cfa;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  margin-left: 30px;
  padding: 5px 15px;
}

.button:hover {
  background-color: #7b22a1;
  transition: all 0.3s ease-in;
}

/*  Style of the main page */

.mainpage {
  display: flex;
  margin-bottom: 160px;
}

.mainpage:before {
  border-radius: 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, #32fbfc, #3214f2);
  content: "";
  opacity: 0.9;
  position: absolute;
  transform: rotate(-45deg);
  z-index: -1;
  left: -200px;
  top: 700px;
  width: 320px;
  height: 320px;
}

.mainpage-left {
  margin: 0 130px 0 170px;
}

.main-text {
  margin-bottom: 30px;
}

.main-text h1 {
  font-size: 70px;
  font-weight: 900;
}

.main-text p {
  font-size: 21px;
  line-height: 1.5;
}

.start-tracking {
  display: flex;
  margin-bottom: 130px;
}

.start-tracking p {
  color: #540cfa;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.start-tracking fieldset {
  border: 0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.05);
  height: 55px;
  width: 310px;
}

.start-tracking button {
  background-color: #540cfa;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 12px 0 rgba(0, 0, 0, 0.05);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 16px;
}

.start-tracking button:hover {
  background-color: #7b22a1;
  transition: all 0.3s ease-in;
}

.start-tracking input {
  border-width: 0;
}

.compatible-with {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
  opacity: 0.3;
}

.compatible {
  display: flex;
  opacity: 0.3;
}

.compatible-item {
  margin-right: 25px;
}

.compatible-item:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

.compatible-item:last-child {
  margin-right: auto;
}

.compatible img {
  height: 30px;
}

.mainpage-right {
  overflow: hidden;
  height: 620px;
}

/*  Style of the Features page */

.features {
  margin-bottom: 140px;
}

.features-text {
  margin-bottom: 80px;
  text-align: center;
}

.features-text span {
  font-size: 18px;
  margin-bottom: 10px;
  opacity: 0.7;
}

.features-text h2 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 30px;
}

.features-text p {
  font-size: 21px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 50px;
  opacity: 0.8;
}

.features-table {
  display: flex;
  justify-content: space-around;
  margin-bottom: 140px;
}

.features-table div {
  text-align: center;
}

.features-table h5 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.features-table p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 10px;
  opacity: 0.7;
}

.features-table a {
  color: blue;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.features-table a:hover {
  color: #7b22a1;
  transition: all 0.3s ease-in;
}

.shape-1 {
  border-radius: 14px;
  box-shadow: 0 2px 4px 0 rgba(36, 8, 128, 0.15);
  background-image: linear-gradient(to top, #9c09db, #1c0fd7);
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 16px;
  width: 50px;
  height: 50px;
}

.shape-2 {
  border-radius: 14px;
  box-shadow: 0 2px 4px 0 rgba(36, 8, 128, 0.15);
  background-image: linear-gradient(to top, #f2c314, #fc3832);
  padding: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

.shape-3 {
  border-radius: 14px;
  box-shadow: 0 2px 4px 0 rgba(36, 8, 128, 0.15);
  background-image: linear-gradient(to top, #9c09db, #1c0fd7);
  padding: 10px;
  padding-left: 14px;
  padding-bottom: 14px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

.poster {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
  width: 1440px;
}

/* Style of the part with text EASY */

.easy {
  display: flex;
  justify-content: space-around;
}

.easy-text h3 {
  font-size: 46px;
  margin-bottom: 20px;
}

.easy-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
  opacity: 0.8;
}

.easy-left img {
  margin-left: 15px;
  margin-right: 15px;
}

.easy-left ul {
  margin: 0;
}

.easy-left li {
  font-weight: 600;
  margin-bottom: 40px;
}

.easy-left li:last-child {
  margin-bottom: auto;
}

.easy-right-img img {
  box-shadow: 0 2px 4px 0 rgba(128, 32, 0, 0.15);
  width: 650px;
}

.easy-right-img2 img {
  margin-left: -70px;
  margin-top: -300px;
  width: 265px;
}

/* Style of the Community */
.community {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 140px;
}

.community-left {
  width: 700px;
  padding: 100px;
}

.community-left span {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px;
  opacity: 0.8;
}

.community-left h3 {
  font-size: 46px;
  line-height: 1.09;
  margin-top: 0;
  margin-bottom: 20px;
}

.community-left p {
  opacity: 0.8;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 30px;
}

.community-left a {
  color: white;
  background-color: #540cfa;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
  text-align: center;
  width: 215px;
  height: 40px;
}

.community-left a:hover {
  background-color: #7b22a1;
  transition: all 0.3s ease-in;
}

.community-right {
  display: flex;
  align-items: center;
}

.col {
  margin-top: 40px;
}
.twit {
  border-radius: 10px;
  background-color: #201e1e;
  color: white;
  font-weight: 600;
  padding: 15px;
  margin: 10px;
  width: 260px;
  height: 211px;
}

.twit p {
  font-size: 13px;
  line-height: 1.5;
  opacity: 0.8;
}

.twit-p::before {
  border-radius: 50%;
  background-color: rgb(97, 97, 89);
  content: "";
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  width: 35px;
  height: 35px;
}

.twit time {
  font-size: 10px;
  opacity: 0.5;
}

.twit img {
  float: right;
  margin-top: 8px;
  opacity: 0.3;
}

.twit:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.center-position {
  justify-content: center;
}

/* Style of the footer */
.footer {
  font-weight: 600;
  margin-bottom: 30px;
  opacity: 0.3;
  text-align: center;
}

.footer-img {
  margin: 30px;
}

.footer-img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}

/* Style for reference */
.learn-more {
  width: 600px;
  text-align: center;
  margin: auto;
}
