.features {
  margin-bottom: 140px;
}

.features__table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 140px;
}

.features__table-item {
  text-align: center;
  margin: 10px;
}

.features__table-header {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.features__table-paragraph {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 10px;
  opacity: 0.7;
}

.features__table-img1 {
  border-radius: 14px;
  box-shadow: 0 2px 4px 0 rgba(36, 8, 128, 0.15);
  background-image: linear-gradient(to top, #9c09db, #1c0fd7);
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 16px;
  width: 50px;
  height: 50px;
}

.features__table-img2 {
  border-radius: 14px;
  box-shadow: 0 2px 4px 0 rgba(36, 8, 128, 0.15);
  background-image: linear-gradient(to top, #f2c314, #fc3832);
  padding: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}

.features__table-img3 {
  border-radius: 14px;
  box-shadow: 0 2px 4px 0 rgba(36, 8, 128, 0.15);
  background-image: linear-gradient(to top, #9c09db, #1c0fd7);
  padding: 10px;
  padding-left: 14px;
  padding-bottom: 14px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
}
.feutures__table-learn {
  position: relative;
  color: #0000ff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 5px;
}

.feutures__table-learn:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  background-color: #0000ff;
  height: 2px;
  width: 100%;
  transition: transform 0.15s ease-in;
  transform: translateX(-50%) scaleX(0);
}

.feutures__table-learn:hover:before {
  transform: translateX(-50%) scaleX(1.02);
}

.features__poster {
  display: flex;
  overflow: hidden;
  margin-bottom: 140px;
}

.features__poster-img:hover {
  box-shadow: 1px 1px 1px 1px #bbbdbe, 3px 3px 3px 3px #bbbdbe,
    5px 5px 5px 5px #bbbdbe;
  transform: translateY(-3px);
  transition: all 0.2s ease-in;
}

@media (max-width: 935px) {
  .features__poster {
    margin-bottom: 70px;
  }
}

@media (max-width: 615px) {
  .features {
    margin-bottom: 70px;
  }

  .features__table {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .features__table-item {
    text-align: left;
    margin: 10px;
  }

  .features__small-container {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
  }

  .features__poster {
    margin-bottom: 80px;
  }
}
