/* Style of the part with text EASY */

.easy {
  display: flex;
  justify-content: space-around;
}

.easy__left {
  margin-left: auto;
  margin-right: auto;
}

.easy__header {
  font-size: 46px;
  margin-bottom: 20px;
  width: 380px;
}

.easy__paragraph {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
  opacity: 0.8;
  width: 430px;
}

.easy__list {
  margin: 0;
}

.easy__list-item {
  font-weight: 600;
  margin-bottom: 40px;
}

.easy__list-item:last-child {
  margin-bottom: auto;
}

.easy__list-item:hover {
  letter-spacing: 1px;
  transition: all 0.2s ease-in;
}

.easy__right {
  width: 30%;
}
.easy__list-img {
  margin: 0 15px;
}

.easy__right-img {
  margin-left: -100px;
  margin-top: -370px;
}

@media (max-width: 935px) {
  .easy__right-img2 {
    display: none;
  }

  .easy {
    flex-direction: column;
  }
  .easy__right-img {
    margin-left: 0;
    margin-top: 0;
  }

  .easy__left {
    margin-bottom: 40px ;
  }

  .easy__right {
    width: auto;
    margin-left: auto ;
    margin-right: auto;
  }
  

}

@media (max-width: 615px) {
  .easy__header {
    font-size: 32px;
    width: 360px;
  }

  .easy__paragraph {
    font-size: 16px;
    width: 360px;
  }

}
