@import "./navigation.css";
@import "./mainpage.css";
@import "./start-tracking.css";
@import "./features.css";
@import "./text-style.css";
@import "./easy.css";
@import "./community.css";
@import "./footer.css";
@import "./learn-more.css";

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro";
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

.main {
  overflow: hidden;
  margin: auto;
}

.center-position {
  justify-content: center;
}

@media (max-width: 615px) {
.center-position {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
}